@model DataLayer.BinaryTree.NodeData

@{
    ViewBag.Title = "NewNode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Binary Tree</h1>
                <h2>Example to use binary tree with C#, ASP.NET e SQL Server</h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h2>New Node</h2>
        @if (!ViewBag.Success)
        {
            @Html.Partial("Node")
        }
        else
        {
            @Html.Partial("Success")
        }
    </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
